h2 Please Wait a moment...

script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"
script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"
javascript:
  const getCsrfToken = () => {
    const metas = document.getElementsByTagName('meta');
    for (let meta of metas) {
      if (meta.getAttribute('name') === 'csrf-token') {
        console.log('csrf-token:', meta.getAttribute('content'));
        return meta.getAttribute('content');
      }
    }
    return '';
  }

  document.addEventListener("DOMContentLoaded", async function () {
    await liff.init({ liffId: '1660751077-Ddxr23Lv' });
    const accessToken = liff.getAccessToken();
    // if (!liff.isLoggedIn()) {
    //   liff.login();
    //   return;
    // }

    const resjson = await fetch(
      '/link_accounts',
      {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'X-CSRF-Token': getCsrfToken()
        },
        body: {
          access_token: accessToken,
        },
      }
    );
    console.log(resjson);
    const uri = await JSON.parse(resjson).uri;
    console.log(uri);
  });


  window.onload = function () {
    initVConsole();

  }

  // Initialize vConsole
  function initVConsole() {
    window.vConsole = new window.VConsole({
      defaultPlugins: ['system', 'network', 'element', 'storage'],
      maxLogNumber: 1000,
      onReady: function () {
        console.log('vConsole is ready.');
      },
      onClearLog: function () {
        console.log('on clearLog');
      }
    });
  }