h2 Please Wait a moment...

script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"
script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"
javascript:
  const getCsrfToken = () => {
    const metas = document.getElementsByTagName('meta');
    for (let meta of metas) {
      if (meta.getAttribute('name') === 'csrf-token') {
        return meta.getAttribute('content');
      }
    }
    return '';
  }

  document.addEventListener("DOMContentLoaded", async function () {
    await liff.init({ liffId: '1660751077-Ddxr23Lv' });
    const accessToken = liff.getAccessToken();
    if (!liff.isLoggedIn()) {
      liff.login();
      return;
    }

    const res = await fetch(
      '/generate_link_url?access_token=' + accessToken,
      {
        method: 'GET',
        credentials: 'same-origin',
        headers: {
          'X-CSRF-Token': getCsrfToken()
        },
      }
    );

    const json = await res.json();

    if (json.status) {
      console.log(json);
      redirect_url = json['data']['url'];
      console.log(redirect_url);
      window.location = redirect_url;
    }
  });


  window.onload = function () {
    initVConsole();

  }

  // Initialize vConsole
  function initVConsole() {
    window.vConsole = new window.VConsole({
      defaultPlugins: ['system', 'network', 'element', 'storage'],
      maxLogNumber: 1000,
      onReady: function () {
        console.log('vConsole is ready.');
      },
      onClearLog: function () {
        console.log('on clearLog');
      }
    });
  }