h2 Please Wait a moment...

script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"
javascript:
  document.addEventListener("DOMContentLoaded", async function () {
    await liff.init({ liffId: '1660751077-Ddxr23Lv' });
    const accessToken = await liff.getAccessToken();
    LINEアプリ外で開いた時はログイン処理をする
    if (!liff.isLoggedIn()) {
      liff.login();
    }

    await fetch(
      '/link_accounts',
      {
        method: 'POST',
        body: {
          access_token: accessToken,
        },
      }
    );
  });